<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
 
  <div id="content">
    <h1>Hey, I'm Saloni Kogta</h1>
    <p>Welcome to Vichaar.</p>
    <p>It is a blogging website where you can put down your thoughts!</p>
    <p>Follow me on Twitter <a href="https://twitter.com/SaloniKogta">@SaloniKogta</a> or on github at <a href="http://github.com/KogtaSaloni">KogtaSaloni</a>, and get my posts and exclusive content. You can follow me on Facebook too <a href="https://www.facebook.com/saloni.kogta">here</a>.</p>
  </div>
</div>